.footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: var(--font-size-sm);
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-md);
    border-bottom: 1px solid rgb(228, 228, 228); /* <---- ÄNDRA ROOT */
}

.footer-top p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg);
    font-family: var(--font-main);
    font-size: var(--font-size-xs);
}

.footer-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-column {
    display: flex;
    flex-direction: column;
    font-family: var(--font-main);
    font-size: var(--font-size-sm);
    padding-top: var(--spacing-md);
    padding-bottom: var(--spacing-md);
    border-bottom: 1px solid black;

}

.footer-column button {
    font-family: var(--font-main);
    font-size: var(--font-size-base);
    font-weight: var(--weight-medium);
    background: none;
    border-style: none;
    padding: 0;
    margin: 0;
    outline: none;

}

.footer-column li {
    margin-bottom: var(--spacing-md);
}

.footer-column ul {

    list-style: none;
    padding: var(--spacing-md) 0 0 0;
    margin: 0;
    display: none;
}

.footer-column ul.open {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-heading svg {
    transition: transform 0.2s ease;
}

.footer-heading svg.rotated {
    transform: rotate(180deg);
}

.footer-bottom {
    font-family: var(--font-main);
    font-size: var(--font-size-xs);
    margin-top: var(--spacing-xl);
}

@media (min-width: 768px) {

    .footer-top {
        display: flex;
        justify-content: space-between;
        padding: var(--spacing-md) 10rem;
    }

    .footer-main {
        display: flex;
        flex-direction: row;
        padding: var(--spacing-md) 15rem;
    }

    .footer-heading {
        cursor: default;
        pointer-events: none;
    }

    .footer-heading svg {
        display: none;
    }

    .footer-column ul {
        display: block !important;
    }

    .footer-column {
        border: none;

    }

    .footer-column button {
        font-size: var(--font-size-base);
    }
}