<header class="header">
    <div class="header-top">
        <a routerLink="/" class="logo">FREAKY<br />FASHION</a>


        <div class="searchbar">
            <input type="text" placeholder="Vad letar du efter?">
            <button class="search-icon" aria-label="Sök"><svg lucideSearch></svg></button>
        </div>

        <nav class="header-icons">
            <button class="search-icon-mobile" aria-label="Sök"><svg lucideSearch></svg></button>
            <a href="#" aria-label="Favoriter"><svg lucideHeart></svg></a>
            <a href="#" aria-label="Profil"><svg lucideUser></svg></a>
            <a href="#" aria-label="Kundvagn"><svg lucideShoppingCart></svg></a>
            <button class="hamburger" aria-label="Meny"><svg lucideMenu></svg></button>
        </nav>
    </div>

    <nav class="header-nav">
        <a routerLink="/kategori/nyheter">Nyheter</a>
        <a routerLink="/kategori/höst2026">Höst 2026</a>
        <a routerLink="/kategori/tröjor">Tröjor</a>
        <a routerLink="/kategori/tröjor">Byxor</a>
    </nav>
</header>