.product-card {
    flex: 0 0 auto;
    width: 200px;
    position: relative;
}

.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.favorite-icon {
    position: absolute;
    top: var(--spacing-sm);
    right: var(--spacing-sm);
    background: none;
    border: none;
    cursor: pointer;
}

.product-price, .product-name {
    font-family: var(--font-main);
    font-size: var(--font-size-xs);
    padding: var(--spacing-sm) 0 0 var(--spacing-sm);
}

.badge-new {
    position: absolute;
    top: var(--spacing-sm);
    left: var(--spacing-sm);
    background-color: white;
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--border-radius-lg);
    font-family: var(--font-main);
    font-size: var(--font-size-xs);
}